{{ template "header.html" .}}

  <div class="table">
    <div class="table-row">
      <div class="cell">Date:</div>
      <div class="cell">{{.purchase.Date.Day}} {{.purchase.Date.Month}}, {{.purchase.Date.Year}}</div>
      <div class="cell"><form><input type="text" id="category"/></form></div>
    </div>
    <div class="table-row">
      <div class="cell">NOK:</div>
      <div class="cell">{{.purchase.NOK}}</div>
      <div class="cell"><form><input type="text" id="category"/></form></div>
    </div>
    <div class="table-row">
      <div class="cell">Category:</div>
      <div class="cell">{{.purchase.Category}}</div>
      <div class="cell"><form><input type="text" id="category"/></form></div>
    </div>
    <div class="table-row">
      <div class="cell">Location:</div>
      <div class="cell">{{.purchase.Location}}</div>
      <div class="cell"><form><input type="text" id="category"/></form></div>
    </div>
    <div class="table-row">
      <div class="cell">Vendor:</div>
      <div class="cell">{{.purchase.Vendor}}</div>
      <div class="cell"><form><input type="text" id="category"/></form></div>
    </div>
  </div>

{{ template "footer.html" .}}
