<!--index.html-->

{{ template "header.html" .}}

<section class="section">

  <div class="block">
    <nav class="breadcrumb">
      <ul id="month-picker">
        <li><a href="/spending/{{printf "%04d" .prevMonth.Year}}/{{printf "%02d" .prevMonth.MonthNum}}">{{.prevMonth}}</a></li>
        <li class="is-active"><a href="#">{{.month}}</a></li>
        <li><a href="/spending/{{printf "%04d" .nextMonth.Year}}/{{printf "%02d" .nextMonth.MonthNum}}">{{.nextMonth}}</a></li>
      </ul>
    </nav>
  </div>

  <div class="block">
    <div class="subtitle" id="spending-total">Total: {{.total}} NOK</div>
  </div>

  <div class="block">
    <div id="category-select" class="select">
      <select onchange="selectOpt(this, 'category-cell')">
        <option value="all">Select category</option>
      </select>
    </div>
  </div>

  <table class="table is-hoverable" id="spending-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>NOK</th>
        <th>Category</th>
        <th>Location</th>
        <th>Vendor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  {{range .payload }}
      <tr>
        <th class="date-cell">{{.Date.Stamp}}</th>
        <th class="nok-cell">{{.NOK}}</th>
        <th class="category-cell">{{.Category}}</th>
        <th class="location-cell">{{.Location}}</th>
        <th class="vendor-cell">{{.Vendor}}</th>
        <th><a href="/purchase/{{.ID}}" class="button is-warning">Edit</a></th>
      </tr>
  {{end}}
    </tbody>
  </table>
  <script>
    updateTotal();
    addToSelectors("category-select", "category-cell");
  </script>

</section>

{{ template "footer.html" .}}
